<ion-view view-title="Event">
    <ion-content>
        <div class="list card">
            <div class="item">
                <h3>{{event.name}}</h3>
                <p>{{event.time}}, {{event.venue}}</p>
                
            </div>
        </div>

        <div class="item item-body">
            <p>{{event.description}}</p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left tabs-color-balanced">
            <a class="tab-item">
                <i class="icon ion-thumbsup"></i> Like
            </a>
            <a class="tab-item">
                <i class="icon ion-chatbox "></i> Comment
            </a>
            <a class="tab-item">
                <i class="icon ion-share"></i> Share
            </a>
        </div>
    </ion-content>
</ion-view>